@import './../../styles/sass/index.scss';

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--five-color);
  height: 800px;
}

.return {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--black-color);
}
