@import '../../styles/sass/index.scss';

#siteMain {
  @include flex_column;
  @include align-center;
  height: auto;
  width: 100%;
  background-image: url('../../assets/background-image.webp');
  background-size: cover;
  .banner {
    @include flex_row;
    @include align-center;
    width: 95%;
    @include gradient;
    margin-bottom: 50px;
    .banner_title {
      color: var(--white-color);
      margin: 100px;
      width: 50%;
      height: auto;
    }
  }
  .containerCenter {
    @include flex_column;
    width: 96%;
    height: auto;
    .containerCenter_multiCard {
      @include flex_row;
      @include align-center;
      gap: 3%;
      height: auto;
      width: 100%;
      flex-wrap: wrap;
      .oneCard {
        @include flex_column;
        height: 600px;
        width: 400px;
        padding: 5px 10px;
        margin: 10px 0px;
        border: 2px solid var(--black-color);
        border-radius: 5%;
        box-shadow: 10px 5px 5px var(--black-color);
      }
      .address {
        display: flex;
        @include align-center;
        text-decoration: none;
        text-align: center;
        .btn {
          width: 100%;
          color: var(--white-color);
          text-shadow: 0 10px 10px var(--black-color);
          cursor: pointer;
          outline: none;
          padding: 1em 1em;
          border-radius: 1rem;
          border: none;
          position: relative;
          transition: 0.1s;
          perspective: 1000px;
          transform: rotateX(30deg) rotateZ(0);
          &:hover {
            color: var(--white-color);
            transform: rotateX(45deg) rotateZ(5deg);
            transform-style: preserve-3d;
            transition: transform 0.25s;
          }
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            @include gradient();
            filter: blur(10px);
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
          }
          &:active {
            color: var(--white-color);
            @include varlinear-gradient();
            transform: scale(0.8) rotate(3deg);
            transition: 0.25s;
          }
        }
      }
    }
    .containerCenter_image {
      position: relative;
      @include flex_column;
      @include align-center;
      margin: 50px 0px;
      width: 100%;
      height: 600px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include gradient;
        z-index: 0;
      }
      .containerCenter_imageChildren {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/ordiLove.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      }
    }
  }
}
